<?xml version="1.0" encoding="utf-8" ?>
    
	<configuration>
		<connectionStrings>
			<add name="MyConnectionString"
				 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
		                       AttachDbFilename=C:\Users\Anas\source\repos\currency-con\currency-con\Databases\Database2.mdf;
		                       Integrated Security=True"
				 providerName="System.Data.SqlClient"/>
		</connectionStrings>
	</configuration>
